<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found - FlaskSpot</title>
    <!-- You can remove this -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: 'Inter', sans-serif;
        }
    </style>

</head>

<body>
    <section class="flex justify-center items-center h-screen">
        <div>
            <h1 class="text-6xl font-light text-gray-600 uppercase">404 Not Found</h1>
            <a href="{{ url_for('main.index') }}" class="text-xl text-gray-600 uppercase hover:text-gray-700 mt-2">Go to
                Homepage</a>
        </div>
    </section>
</body>

</html>